---
import Image from '~/components/common/Image.astro';
const props = Astro.props;

console.log(props.images);
---

<div>
  {
    props.images.map((image) => {
      return (
        <Image
          class="mx-auto rounded-md w-full "
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={600}
          height={600}
          alt={`Image of ${image.alt}`}
          {...image}
        />
      );
    })
  }
</div>
